/* CSS */
#map {
    position: absolute;
    top: 44px;
    height: 100%;
    width: 100%;
}

.side-nav {
    z-index: 1111;
}

.dv-avatar{
  width: 100px;
  height: 100px;
}

.country-picture {
    height: 40%;
    background-image: url(/public/images/backgroung.png);
}