<template name="_nav">
    <div class="panel panel-left panel-reveal">
        <div class="content-block">
            <a href="/">
                <div class="col s9 vertical-align">
                    <span class="nav-item-name">Accueil</span>
                </div>
            </a>
        </div>
    </div>
</template>