<template name="account">
    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">
      <div class="row">
        <div class="col s6 dv-account-avatar">
          <img src="" alt="avatar" class="dv-account-avatar-image">
        </div>
        <div class="col s6 dv-account-name">
          <div>Mon Nom</div>
          <div>Autre info</div>
        </div>
      </div>
      <div class="dv-account-button-panel">
        <button class="btn btn-primary btn-block">Mes voyages</button>
        <button class="btn btn-primary btn-block">Mes informations</button>
      </div>
    </div>
</template>
