<template name="_food">
    <div class="list-block media-list">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-media">
                        <img src="/public/images/coca.jpg">
                    </div>
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">Coca-cola</div>
                            <div class="item-after">35g</div>
                        </div>
                        <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non nunc eros. Donec vehicula arcu et metus tempor, sit amet condimentum eros mattis. Vivamus elementum ex non dui maximus, nec tristique tortor tincidunt.</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>