<template name="countryTemplate">
    <!-- Views -->
    <div class="views">
        <!-- Your main view, should have "view-main" class -->
        <div class="view view-main">
            <!-- Top Navbar-->
            <div class="navbar">
                <div class="navbar-inner">
                    <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
                    <div class="center sliding">Accueil</div>
                    <div class="left">
                        <!--
                          Right link contains only icon - additional "icon-only" class
                          Additional "open-panel" class tells app to open panel when we click on this link
                        -->
                        <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
                    </div>
                </div>
            </div>
            <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
            <div class="pages navbar-through toolbar-through">
                <!-- Page, "data-page" contains page name -->
                <div data-page="index" class="page">
                    <!-- Scrollable page content -->
                    <div class="page-content">
                        <div class="country-picture">
                            <h1>Californie</h1>
                            <div class="row">
                                <div class="col-50">
                                    <h3>19° sun</h3>
                                </div>
                                <div class="col-50">
                                    <h3>GMT - 9 / 20h54</h3>
                                </div>
                            </div>

                        </div>


                        <div class="content-block">
                            <!-- Buttons row as tabs controller -->
                            <div class="buttons-row">
                                <!-- Link to 1st tab, active -->
                                <a href="#tab1" class="tab-link active button">A savoir</a>
                                <!-- Link to 2nd tab -->
                                <a href="#tab2" class="tab-link button">Alimentation</a>
                                <!-- Link to 3rd tab -->
                                <a href="#tab3" class="tab-link button">Lexique</a>
                            </div>
                        </div>
                        <!-- Tabs, tabs wrapper -->
                        <div class="tabs">
                            <!-- Tab 1, active by default -->
                            <div id="tab1" class="tab active">
                                <div class="content-block">
                                    {{> _informations}}
                                </div>
                            </div>
                            <!-- Tab 2 -->
                            <div id="tab2" class="tab">
                                <div class="content-block">
                                    {{> _food}}
                                </div>
                            </div>
                            <!-- Tab 3 -->
                            <div id="tab3" class="tab">
                                <div class="content-block">
                                    {{> _glossary}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
